#cent{
    text-align: center;
    border: 3px solid black;
    height: 50%;
    width: 50%;
    margin: auto;
}

h1{
    color: white;
}
h1:hover{
    color: #1c2b23;
}

#cen{
    /* border: 3px solid black; */
    text-align: center;
}

body{
    background-color: grey;
}

.photos{
    width: 25%;
    height: 25%;
}

.photos1{
    width: 40%;
    height: 40%;
}

.videos{
    align-items: center;
    margin-left: 28%;
}

.p1{
    float: left;
    border-radius: 5px;
}

.p2{
    float: right;
    border-radius: 5px;
}

p{
    color: white;
    width: 50%;
    margin: auto;
}